* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffee33;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    height: 100%;
  }
  
  /* Right layout section */
  .container > .orange-section,
  .container > .bar-blue,
  .container > .pink-section {
    flex-grow: 1;
  }
  
  /* Group all right-side content in a column */
  .container {
    display: flex;
    flex-direction: row;
  }